*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;


}

.headerbar{
    display: none;
}

.searchicon{
    display: block;
}

.logo img{
    width: 150px;
}

.bar{
    display: none;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 7vw;
    background-color:#0b161a;
    border-bottom: 2px solid black;
    box-shadow: 0 2px 20px  whitesmoke;

}

.header ul {
    display: flex;
    align-items: center;
}

.header ul li:hover{
    color: #d6844a;
}

.nav ul li{
    padding: 0 15px;
    font-size: 14px;
    font-weight: bold;
}

.account ul {
    display: flex;
    justify-content: end;
}

.account ul li{
    padding: 0 15px;
    font-size: 18px;
}

.bar i:hover{
    color: rgb(253, 57, 8);
}

.search{
    display: none;
    width: 200px;
    justify-content: center;
}

.search input{
    width: 100%;
    outline: none;
    border: none;
    padding: 5px;
}

.srchicon{
    background-color: hex(#0b161a);
    display: block;
    padding: 4px 5px;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .header .nav, .header .account{
        display: none;
    }
    .search{
        width: 60vw;
    }
    .bar{
        display: block;
        cursor: pointer;
    }
    .headerbar{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        right: -100%;
        bottom: 0;
        background-color: #0b161a;
    }
    .headerbar .account, .headerbar .nav {
        display: block;
        font-size: 18px;
    }
    .bar .fa-xmark{
        display: none;
        top: 20px;
        right: 5w;
        position: absolute;
        font-size: 25px;
    }
    .headerbar .nav ul{
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
    }
    .headerbar .nav li {
        width: 96vw;
        margin: 10px 0;
        padding: 15px 30px;
        box-shadow: 0 2px 15px #9a6e4a;
        font-size: 15px;
        margin-top: 5px;
    }
    .headerbar .account{
        line-height: 40px;
        margin-top: 60px;
        background-color: #0b1218;
        padding: 15px;
    }
    .headerbar .account ul{
        justify-content: space-between;
    }


}
    








